body {
  background: rgb(39, 40, 34);
  color: rgb(248, 248, 242);
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  padding: 4px 8px;
  background: rgb(253, 151, 31);
  color: rgb(248, 248, 242);
  font-family: monospace;
}

.hidden {
  display: none;
  visibility: hidden;
}

#setup {
  margin: 0 auto;
  padding-top: 2em;
  width: 500px;
  text-align: center;
}

#setup .input-group {
  padding-top: 1em;
}

#setup #countdown {
  margin-top: 1.5em;
  font-size: 30px;
  font-family: monospace;
}
#setup #totalTime {
  font-size: 20px;
  font-family: monospace;
}

#setup table {
  text-align: center;
  margin: 0 auto;
  margin-top: 1em;
}

#setup table td {
  text-align: center;
}

#setup table td.label {
  text-align: right;
  vertical-align: middle;
}

#setup table input[type="text"] {
  width: 3em;
  text-align: center;
}

#main-ui {
  width: 100%;
  height: 100%;
}

.countdown {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  /*height: 100vh;*/
  text-align: center;
  vertical-align: middle;
  /*line-height: 100vh;*/
  font-weight: bold;
  font-family: monospace;
  font-size: 15vh;
}

.flasher {
  
  background: rgb(39, 40, 34);
}

.flasher.active {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
  border-radius: 75px;
  animation-name: ledflash;
  animation-duration: 1.1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  filter: blur(45px);
}
@keyframes ledflash {
  0% {background: rgb(39, 40, 34);}
  20% {background: rgb(249, 38, 114);}
  40% {background: rgb(249, 38, 114);}
  50% {background: rgb(39, 40, 34);}
  100% {background: rgb(39, 40, 34) width: 60px; height: 60px; border-radius: 60px;;}
}

.flasher.exploded {
  background: rgb(253, 151, 31);
  width: 100%;
  height: 100%;
  animation-name: explode;
  animation-duration: 4s;
  animation-fill-mode: both;
} 
@keyframes explode {
  0% {background: rgb(39, 40, 34);}
  5% {background: rgb(253, 151, 31);}
  100% {background: rgb(39, 40, 34);}
}